extends layout

block content
  h1=title
  
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  form(method='post' action='/categories/add', enctype='multipart/form-data')
    .form-group
      label  Title
      input.form-control(name='title' type='text')
    
    
    button.btn.btn-primary(type='submit') Save
   