extends layout

block content
  h1=title
  
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  form(method='post' action='/posts/add', enctype='multipart/form-data')
    .form-group
      label  Title
      input.form-control(name='title' type='text' required='true')
    .form-group
      label Category
      select.form-control(name='category')
        each category, i in categories
            option(value='#{category.title}') #{category.title}

    
    
        
    .form-group
      label Body
      textarea.form-control(name='body' id='body' required='true')
    .form-group
      label Main Image
      input.form-control(name='mainimage' type='file')
    .form-group
      label Auther
      select.form-control(name='author')
        option(value='Vidhi Raval') Vidhi Raval
        option(value='Parth Raval') Parth Raval
    
    
    button.btn.btn-primary(type='submit') Save
    script(src='/ckeditor/ckeditor.js')
    script
      CKEDITOR.replace('body')