extends layout

block content
	if posts
	each post, i in posts
		.post
			h1
				a(href='/posts/show/#{post._id}')
					=post.title
			p.meta Posted in 
				a(href='/categories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
			img(src='/images/uploads/#{post.mainimage}')
			!=post.body
			a.more(href='/posts/show/#{post._id}') Read More
	else
		p There are no posts to display