extends layout

block content
	.show
		h1=post.title
		p.meta Posted in 
				a(href='/categoories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
		img(src='/images/uploads/#{post.mainimage}')
		!=post.body
		br
		hr
		if post.comments
			h3 Comments
			each comment, i in post.comments
				.comment
					p.comment-name #{comment.name}
					p.comment-text #{comment.body}
			br
		h3 Add Comment
		if errors
			ul.errors
				each error, i in errors
					li.alert.alert-danger #{error.msg}
		form.comment-form(method='post', action='/posts/addcomment')
			input(name='postid', type='hidden', value='#{post._id}')
			.form-group
				label Name
				input.form-control(type='text', name='name', required='true')
			.form-group
				label Email
				input.form-control(type='email', name='email', required='true')
			.form-group
				label Body
				textarea.form-control(name='body', id='body', required='true')
			br
			button.btn.btn-primary(type='submit') Add Comment
