body{
	font-family:arial;
	font-size:15px;
	background: #f4f4f4;
	color: #666;
}

.logo{
	text-align: center;
	margin: autp;
	display: block;
}

.container{
	width: 750px;
	border: 1px solid #ccc;
	margin: 20px auto;
	padding: 20px;
	border-top: #93cd39 3px solid;
}

.clr{
	clear: both;
}

ul{
	margin: 0;
	padding: 0;
}

h1, h2, h3{
	padding: 5px 0;
	margin-bottom: 0;
}

p{
	margin: 0;
}

a{
	color: #404137;
	text-decoration: none;
}

nav{
	background: #404138;
	color:#fff;
	overflow:auto;
	height: 40px;
	padding: 20px 0 0 10px;
	font-size: 18px;
}

nav li{
	float: left;
	list-style: none;
}

nav a{
	padding: 10px;
	margin: 0 10px;
	color: #fff;
}

nav a.current, nav a:hover{
	background: #83cd29;
	color: #000;
}

footer{
  height:40pxs;
  background:#f4f4f4;
  margin-top:30px;
  padding-top:10px;
	text-align: center;
  overflow:auto;
}

.meta{
	padding: 7px;
	border: 1px solid #ccc;
	background: #ccc;
}

a.more{
	display: inline-block;
	background: #404137;
	color: #fff;
	padding: 10px;
	margin-top: 30px;
}

.post{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px; 
}

.post img{
	width:100%;
}

label{
	display: inline-block;
	width: 180px;
}

input[type:'text'], input[type:'email'], select, textarea{
	padding: 3px;
	height: 20px;
	width: 200px;
	border: 1px #ccc solid;
}

select{
	height: 28px;
}

textarea{
	height: 70px;
	width: 400px;
}

input, select, textarea{
	margin-bottom: 15px;
}

.alert{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;list-style: none;
}

.alert-danger{
	color:#a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

ul.success li{
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;list-style: none;
	color:#3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;	
}
.comment-form{
	margin:30px 0;
}
.comment{
	background: #ccc;
	padding: 5px;
	border: #666 solid 1px;
	margin: 15px 0 20px;
}

.comment-name{
	font-weight:bold;
}